In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
df = pd.read_parquet('./Flight_Delay.parquet')

In [3]:
item0 = df.shape[0]
item0

30132672

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30132672 entries, 1 to 596675
Data columns (total 29 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Year                       int64
 1   Month                      int64
 2   DayofMonth                 int64
 3   FlightDate                 object
 4   Marketing_Airline_Network  object
 5   OriginCityName             object
 6   DestCityName               object
 7   CRSDepTime                 int64
 8   DepTime                    float64
 9   DepDelay                   float64
 10  DepDelayMinutes            float64
 11  TaxiOut                    float64
 12  WheelsOff                  float64
 13  WheelsOn                   float64
 14  TaxiIn                     float64
 15  CRSArrTime                 int64
 16  ArrTime                    float64
 17  ArrDelay                   float64
 18  ArrDelayMinutes            float64
 19  CRSElapsedTime             float64
 20  ActualElapsedTime          float64
 21  AirTime                    float64
 22  Distance                   float64
 23  DistanceGroup              int64
 24  CarrierDelay               float64
 25  WeatherDelay               float64
 26  NASDelay                   float64
 27  SecurityDelay              float64
 28  LateAircraftDelay          float64
dtypes: float64(19), int64(6), object(4)
memory usage: 6.7+ GB

In [5]:
df = df.drop_duplicates()
item1 = df.shape[0]
print(f"There are {item0-item1} duplicates found in the dataset")
print(df.shape)
# calculate flight delay - the difference between arrival and departure delays
df['FlightDelay'] = df['ArrDelay'] - df['DepDelay']
# use only selected columns
selected_cols = ['FlightDelay', 'DepDelay', 'FlightDate', 'DepTime', 'Marketing_Airline_Network', 'OriginCityName', 'DestCityName', 'Distance']
df = df[selected_cols]
df.sample(5).T

There are 0 duplicates found in the dataset
(30132672, 29)

,188981,231156,232312,561575,22989
FlightDelay,-8.0,-17.0,-10.0,-5.0,-18.0
DepDelay,0.0,1.0,-4.0,-3.0,-2.0
FlightDate,2022-07-08,2023-01-16,2023-02-08,2020-01-24,2018-07-20
DepTime,1030.0,1829.0,1208.0,1357.0,1816.0
Marketing_Airline_Network,DL,AA,UA,DL,AA
OriginCityName,"Charleston, SC","Miami, FL","Miami, FL","Milwaukee, WI","Oklahoma City, OK"
DestCityName,"Atlanta, GA","Chicago, IL","Newark, NJ","Atlanta, GA","Dallas/Fort Worth, TX"
Distance,259.0,1197.0,1085.0,669.0,175.0